

@media (min-width:320px) and (max-width:575px) {
    .item{
    width: 100%;
    background: lemonchiffon;
    height: 320px;
    margin-top: 50px;
    }
}
@media (min-width:576px) and (max-width:767px) {
    .item{
    width: 100%;
    background: pink;
    height: 320px;
    margin-top: 20px;
    }
}
@media (min-width:768px) and (max-width:991px) {
    .item{
    width: 100%;
    background: lightskyblue;
    height: 320px;
    margin-top: 20px;
    }
}
@media (min-width:992px) and (max-width:1199px) {
    .item{
    width: 100%;
    background: lightseagreen;
    height: 320px;
    margin-top: 20px;
    }
}
@media (min-width:1200px) and (max-width:1399px) {
    .item{
    width: 100%;
    background: lightslategray;
    height: 320px;
    margin-top: 20px;
    }
}
